@import "_color.scss";
@import "_font-size.scss";

body {
  font-family: "Monserrat", Helvetica, Arial, sans-serif !important;
  box-sizing: inherit;
  line-height: 1.5;
}

main {
  height: 80vh;
}

.title {
  font-size: 1.5rem !important;
}

button.is-danger {
  color: $white !important;
  background-color: $danger-red !important;

  &:hover {
    background-color: $danger-red-hover !important;
  }
  &:focus {
    border-color: $danger-red !important;
  }
}

.icon-link {
  color: $dark;
  margin-left: 10px;

  &:hover {
    color: $primary;
  }
}

/* MODAL */
.modal-background {
  background-color: $modal-background !important;
}
.modal-card-title {
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
.modal-card-body {
  p {
    font-size: $default-text-size;
  }
}
