@import "bulma/sass/utilities/_all.sass";

$primary: hsl(169, 40%, 58%);
$primary-highlight-hover: hsl(171, 24%, 95%);

$danger-red: rgb(216, 65, 82);
$danger-red-hover: rgb(180, 65, 82);

$modal-background: rgba($dark, 0.75);
$placeholder: rgb(188, 188, 188);
$gray-green: rgb(100, 111, 117);

$primary-rounded-button: hsl(171, 24%, 95%);
$primary-rounded-button-hover: hsl(171, 24%, 93%);
$primary-rounded-button-border: hsl(171, 24%, 90%);
