<template>
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>Polli Chat Application</strong> by <span class="primary">Christina Grafeneder</span> and <span class="primary">Christa Höglinger</span>.
        </p>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'AppFooter'
}
</script>

<style scoped>

.footer {
  height: 20vh;
}
</style>
