<template>
  <header class="header">
    <section class="hero is-primary is-medium">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container navbar-polli">
            <div class="navbar-brand">
              <div class="navbar-item">
                <h1 class="title is-1 is-b">Polli Chat</h1>
              </div>
            </div>
            <div class="navbar-user-button">
              <div class="navbar-end">
                <span class="navbar-item">
                  <div v-if="username" id="logged-in-user"
                    @click="dropdownActive = !dropdownActive"
                    :class="{
                      'dropdown': true,
                      'is-right': true,
                      'is-active': dropdownActive
                    }"
                  >
                    <div class="dropdown-trigger">
                      <button class="button is-primary is-inverted" aria-haspopup="true">
                        <span class="icon is-small">
                          <i class="fas fa-user-circle"></i>
                        </span>
                        <span>{{ username }}</span>
                      </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                      <div class="dropdown-content">
                        <router-link to="/">
                          <a class="dropdown-item" @click.self="logout">Logout</a>
                        </router-link>
                      </div>
                    </div>
                  </div>
                </span>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </section>
  </header>
</template>

<script>
import actionTypes from '../../store/action-types'

export default {
  name: 'AppHeader',
  data () {
    return {
      username: this.$store.state.currentUser,
      dropdownActive: false
    }
  },
  created () {
    let store = this.$store
    this.$store.watch(
      (store) => { return store.currentUser },
      res => {
        this.username = store.state.currentUser
      }
    )
  },
  methods: {
    logout () {
      this.$store.dispatch(actionTypes.LOGOUT)
    }
  }
}
</script>

<style scoped>

.navbar-polli {
  display: flex !important;
  justify-content: space-between;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}

</style>
