<template>
    <div class="layout-default">
        <app-header/>

        <main>
            <slot name="main"></slot>
        </main>

        <app-footer/>
    </div>
</template>

<script>
import AppHeader from '../app/AppHeader'
import AppFooter from '../app/AppFooter'

export default {
  name: 'LayoutDefault',
  components: { AppHeader, AppFooter }
}
</script>

<style scoped>

</style>
