<template>
  <div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content animated fadeIn">
      <div class="box">
        <header class="has-text-centered">
          <span class="fas fa-exclamation-circle warning-icon-big"></span>
          <p class="modal-card-title">Are you sure?</p>
        </header>
        <section class="modal-card-body has-text-centered">
          <p>Do you really want to delete this Conversation?<br/>This process cannot be undone.</p>
        </section>
        <footer class="has-text-centered">
          <button class="button is-danger"
            @click="deleteConversation(conversationId)"
            @keydown.prevent.enter="deleteConversation(conversationId)"
          >
            Delete Conversation
          </button>
          <button class="button" @click="$emit('close')" @keydown.prevent.enter="$emit('close')">
            Cancel
          </button>
        </footer>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close" @click="$emit('close')"></button>
  </div>
</template>

<script>

export default {
  name: 'ConversationDeleteModal',
  props: ['conversationId'],
  mounted () {
    document.querySelector('.button.is-danger').focus()
  },
  methods: {
    deleteConversation (id) {
      this.$store.dispatch('DELETE_CONVERSATION', id)
      this.$emit('disable-modal')
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../assets/scss/_base.scss';
@import '../../assets/scss/_color.scss';
@import '../../assets/scss/_font-size.scss';

.warning-icon-big {
  color: $gray-green;
  font-size: $xxl-icon;
}
</style>
