<template>
  <div class="column is-one-quarter conversation-wrapper" v-if="conversations.length > 0">
    <div class="conversation-area">
      <div class="conversation-list has-text-left">
        <ul>
          <li v-for="item in conversations"
            :key="item.id"
            :class="{ active: item.id === currentConversation.id }"
            @click="setCurrentConversation(item)"
          >
            <div class="conversation-overview">
              <span class="conversation-title">{{ item.title }}</span><br/>
              <span class="conversation-members" v-for="(user, index) in item.members" :key="index">
                <i>{{ user.username }}<span v-show="index != item.members.length-1">, </span></i>
              </span>
              <span class="conversation-last-message" v-if="item.messages.length > 0">
                {{ item.messages[item.messages.length-1].createdBy.username }}:
                {{ item.messages[item.messages.length-1].content }}
              </span>
            </div>
            <div class="conversation-delete-icon">
              <span v-show="item.createdBy.username === currentUser"
                class="lnr lnr-trash is-pulled-right icon-link"
                @click.prevent="
                  showDeleteModal = true;
                  modalConversationId = item.id;
              ">
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <conversation-delete-modal
      @disable-modal="showDeleteModal = false"
      :conversation-id="modalConversationId"
      v-if="showDeleteModal"
      @close="showDeleteModal = false"
    />
  </div>
</template>

<script>
import ConversationDeleteModal from './ConversationDeleteModal'

export default {
  name: 'ConversationArea',
  components: { ConversationDeleteModal },
  data () {
    return {
      currentUser: this.$store.state.currentUser,
      modalEventId: '',
      showDeleteModal: false
    }
  },
  computed: {
    conversations () {
      return this.$store.state.conversations
    },
    currentConversation () {
      return this.$store.state.currentConversation
    }
  },
  methods: {
    setCurrentConversation (conversation) {
      this.$store.commit('SET_CURRENT_CONVERSATION', conversation)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../assets/scss/_base.scss';
@import '../../assets/scss/_color.scss';
@import '../../assets/scss/_font-size.scss';

.conversation-wrapper {
  @media (min-width: $tablet) {
    height: 100%;
  }
  @media (max-width: $tablet) {
    height: 26%;
  }

  .conversation-area {
    height: 100%;
    border: 1px solid $grey-lighter;
    border-radius: 5px;
    overflow: scroll;

    .conversation-list {
      li {
        display: flex;
        padding: 12px 15px;
        border-bottom: 1px solid $grey-lighter;
        cursor: pointer;
        transition: background-color .1s;

        &:hover {
          background-color: $primary-highlight-hover;
        }

        &.active {
          background-color: $primary;
          color: $white-ter;

          &:hover {
            background-color: $primary;
            color: $white-ter;
          }

          .conversation-delete-icon {
            .icon-link {
              &:hover {
                color: $white;
              }
            }
          }
        }

        .conversation-overview {
          width: 100%;

          .conversation-title {
            font-weight: bold;
            font-size: $default-conversation-size;
          }

          .conversation-last-message {
            padding-top: 10px;
            display: block;
            display: -webkit-box;
            margin: 0 auto;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .conversation-delete-icon {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }
  }
}
</style>
