<template>
  <div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content animated fadeIn">
      <div class="box">
        <header>
          <h1 class="modal-card-title" contenteditable
            placeholder="What's the name of the conversation?"
            @keydown.enter.prevent="createConversation"
          ></h1>
        </header>
        <section class="modal-card-body">
          <b><p>Please add those participants who should join the conversation:</p></b>
          <input type="text" class="input" id="users-autocomplete" @input="autocomplete"
            placeholder="Autocomplete with username"
          />
          <div class="users">
            <div class="control checkradio-area" v-for="user in users" :key="user.id">
              <input type="checkbox"
                :id="`add-participant-${ user.id }`"
                class="add-participant is-checkradio is-small"
                :value="`${ user.username }`"
                v-model="checkedUsers"
                :disabled="user.username === currentUser"
              >
              <label class="checkbox"
                :for="`add-participant-${ user.id }`"
                :disabled="user.username === currentUser"
              >
                {{ user.username }}
                <span v-if="user.username === currentUser">(you)</span>
              </label>
            </div>
          </div>
          <ul>
            <li class="help is-danger" v-for="(error, index) in errors" :key="index">{{ error }}</li>
          </ul>
        </section>
        <footer class="has-text-centered">
          <button class="button is-primary" @click="createConversation">Create Conversation</button>
          <button class="button cancel" @click="$emit('close')">Cancel</button>
        </footer>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close" @click="$emit('close')"></button>
  </div>
</template>

<script>
import actionTypes from '../../store/action-types'

export default {
  name: 'ConversationNewModal',
  data () {
    return {
      errors: [],
      checkedUsers: [this.$store.state.currentUser],
      currentUser: this.$store.state.currentUser,
      users: this.$store.state.users
    }
  },
  mounted () {
    document.querySelector('.modal-card-title').focus()
  },
  methods: {
    createConversation () {
      this.errors = []
      if (this.checkedUsers.length > 1) {
        let title = document.querySelector('.modal-card-title').innerHTML
        let data = {
          title: title || this.checkedUsers.join(', '),
          membersUsernames: this.checkedUsers
        }

        this.$store.dispatch(actionTypes.CREATE_CONVERSATION, data)

        this.$emit('disable-modal')
      } else {
        this.errors.push('Please select participant(s) for this conversation!')
      }
    },
    autocomplete (e) {
      let autoInput = e.target
      let value = autoInput.value

      for (let i = 0; i < this.users.length; i++) {
        let username = this.users[i].username
        let userId = this.users[i].id
        let currEl = document.getElementById(`add-participant-${userId}`)

        if (username.substr(0, value.length).toUpperCase() === value.toUpperCase()) {
          currEl.parentNode.style.display = 'block'

          let label = currEl.parentNode.getElementsByTagName('label')[0]

          label.innerHTML = `<strong>${username.substr(0, value.length)}</strong>`
          label.innerHTML += username.substr(value.length)
        } else {
          currEl.parentNode.style.display = 'none'
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../assets/scss/_base.scss';
@import '../../assets/scss/_color.scss';
@import '../../assets/scss/_font-size.scss';
@import '../../../node_modules/bulma-checkradio/dist/bulma-checkradio.sass';

[contenteditable] {
  &:focus {
    outline: 0px solid transparent;
  }
  &:empty:before {
    content: attr(placeholder);
    display: block;
    color: $placeholder;
  }
}

.checkradio-area {
  margin-top: 10px;

  .is-checkradio[type="checkbox"]:focus + label::before {
    outline: none;
  }

  label {
    font-size: $default-label-size !important;
  }
}
</style>
