<template>
  <layout-default>
    <section class="main-area" slot="main">
      <auth-info v-show="!user" />

      <div class="new-conversation-area">
        <a class="button is-primary new-conversation" @click="showModal = true" v-if="user">
          <span class="icon">
            <span class="lnr lnr-rocket"></span>
          </span>
          <span>Start new Conversation</span>
        </a>
        <conversation-new-modal
          v-if="showModal"
          @disable-modal="showModal = false"
          @close="showModal = false"
        />
      </div>

      <div class="chat-area columns" v-if="user">
        <h1 v-if="conversations.length === 0" class="info-no-conversations">
          So far no conversations available - please create one!
        </h1>

        <conversation-area
          v-if="conversations.length > 0"
          :conversations="conversations"
        />
        <message-area v-if="conversations.length > 0" />
      </div>
    </section>
  </layout-default>
</template>

<script>
import AuthInfo from './auth/AuthInfo'
import ConversationArea from './conversation/ConversationArea'
import ConversationNewModal from './conversation/ConversationNewModal'
import LayoutDefault from './layouts/LayoutDefault'
import MessageArea from './message/MessageArea'

import actionTypes from '../store/action-types'

export default {
  name: 'ChatApp',
  components: { AuthInfo, ConversationArea, ConversationNewModal, LayoutDefault, MessageArea },
  data () {
    return {
      showModal: false
    }
  },
  mounted () {
    let that = this
    this.setInitialData()

    this.$store.watch(
      (store) => { return store.currentUser },
      res => {
        that.setInitialData()
      }
    )
  },
  computed: {
    conversations () {
      return this.$store.state.conversations
    },
    user () {
      return this.$store.state.currentUser
    }
  },
  methods: {
    setInitialData () {
      this.$store.dispatch(actionTypes.GET_USERS)
      this.$store.dispatch(actionTypes.GET_CONVERSATIONS)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../assets/scss/_base.scss';
@import '../assets/scss/_color.scss';
@import '../assets/scss/_font-size.scss';

.main-area {
  height: 100%;
  padding-left: 20px;
  padding-top: 10vh;
  padding-right: 20px;

  .new-conversation-area {
    margin-left: 0.75em;
  }

  .chat-area {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 40px;
    margin: 0 auto;

    .info-no-conversations {
      width: 100%;
      margin-left: 0.75em;
      margin-top: 10px;
    }
  }
}
</style>
