<template>
  <section class="app">
    <div class="bg"></div>
    <div class="is-flex-mobile">
      <router-view/>
    </div>
  </section>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>

</style>
