<template>
  <div class="column chat-wrapper">
    <div class="chat-area">
      <div class="chat-conversation" v-scroll-bottom="currentConversation.messages">
        <template>
          <ul v-if="currentConversation.messages">
            <li v-for="(item, index) in currentConversation.messages" :key="index">
              <p class="message-time" v-if="handleVisibility(index)">
                <span>{{ item.createdAt | time }}</span>
              </p>
              <div :class="{ 'chat-message': true, 'chat-message__self': item.createdBy.username === currentUser }">
                <template v-if="item.createdBy.username !== currentUser && handleVisibility(index)">
                  <a class="button is-primary is-inverted is-rounded initial-participant-button tooltip is-tooltip-top"
                    :data-tooltip="item.createdBy.username"
                  >
                    {{ item.createdBy.username.substring(0,2).toUpperCase() }}
                  </a>
                </template>
                <div :class="{
                  'message-text animated fadeIn': true,
                  'message-text__hide-participant': !handleVisibility(index) && item.createdBy.username !== currentUser,
                }">
                  <a :class="{
                    'tooltip': true,
                    'is-tooltip-left': item.createdBy.username === currentUser,
                    'is-tooltip-right': item.createdBy.username !== currentUser
                  }" :data-tooltip="item.createdAt | time">{{ item.content }}</a>
                </div>
              </div>
            </li>
          </ul>
          <h1 v-if="currentConversation.messages.length === 0" class="info-no-messages">
            So far no messages have been posted - be the first!
          </h1>
        </template>
      </div>
      <div class="chat-textinput">
        <textarea placeholder="Shift + Enter for new line" v-model="messageContent" @keyup.enter="sendMessages"></textarea>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'Vue'
import actionTypes from '../../store/action-types'

export default {
  name: 'MessageArea',
  data () {
    return {
      currentUser: this.$store.state.currentUser,
      messageContent: ''
    }
  },
  computed: {
    currentConversation () {
      return this.$store.state.currentConversation
    }
  },
  filters: {
    time (d) {
      let date = new Date(d)
      let now = new Date()
      let months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

      let day = `${date.getDate()}th`
      if (date.getDate() === 1) day = `${date.getDate()}st`
      if (date.getDate() === 2) day = `${date.getDate()}nd`
      if (date.getDate() === 3) day = `${date.getDate()}rd`

      let min = date.getMinutes()
      if (min.toString().length === 1) min = `0${min}`

      let hour = date.getHours()
      if (hour.toString().length === 1) hour = `0${hour}`

      if (now.getDate() === date.getDate()) {
        return `${hour}:${min}`
      } else if (now.getYear() !== date.getYear()) {
        return `${day} ${months[date.getMonth()]} ${date.getFullYear()}, ${hour}:${min}`
      } else {
        return `${day} ${months[date.getMonth()]}, ${hour}:${min}`
      }
    }
  },
  directives: {
    'scroll-bottom' () {
      Vue.nextTick(() => {
        let el = document.querySelector('.chat-conversation')
        el.scrollTop = el.scrollHeight - el.clientHeight
      })
    }
  },
  methods: {
    handleVisibility (index) {
      if (index > 0) {
        let currMessage = this.currentConversation.messages[index]
        let prevMessage = this.currentConversation.messages[index - 1]

        let currUser = currMessage.createdBy.username
        let prevUser = prevMessage.createdBy.username

        let currTime = new Date(currMessage.createdAt)
        let prevTime = new Date(prevMessage.createdAt)

        if (
          currTime.getYear() === prevTime.getYear() &&
          currTime.getMonth() === prevTime.getMonth() &&
          currTime.getDay() === prevTime.getDay() &&
          currTime.getHours() === prevTime.getHours() &&
          currUser === prevUser
        ) return false
      }

      return true
    },
    sendMessages (e) {
      if (!e.shiftKey) {
        let data = {
          content: this.messageContent.trim(),
          conversationId: this.currentConversation.id
        }

        this.$store.dispatch(actionTypes.SEND_MESSAGE, data)
        this.messageContent = ''
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../assets/scss/_base.scss';
@import '../../assets/scss/_color.scss';
@import '../../assets/scss/_font-size.scss';
@import '../../../node_modules/bulma-tooltip/dist/bulma-tooltip.sass';

.chat-wrapper {
  @media (min-width: $tablet) {
    height: 100%;
  }
  @media (max-width: $tablet) {
    height: 72%;
  }

  .chat-area {
    height: 100%;
    border: 1px solid $grey-lighter;
    border-radius: 5px;

    .chat-conversation {
      height: 80%;
      padding: 10px 15px;
      overflow: scroll;

      .message-time {
        margin-top: 15px;
        text-align: center;

        > span {
          display: inline-block;
          padding: 0 18px;
          font-size: 12px;
          color: $white;
          border-radius: 2px;
          background-color: $grey-lighter;
        }
      }
      .chat-message {
        text-align: left;

        .initial-participant-button {
          width: 40px;
          height: 40px;
          background-color: $primary-rounded-button;
          border: 2px solid $primary-rounded-button-border;

          &:hover {
            background-color: $primary-rounded-button-hover;
          }
        }

        .message-text {
          text-align: left;
          display: inline-block;
          position: relative;
          padding: 5px 10px;
          max-width: calc(100% - 50px);
          min-height: 30px;
          line-height: 1.5;
          font-size: $default-message-size;
          word-break: break-all;
          background-color: $white-ter;
          border-radius: 4px;
          margin-left: 5px;
          margin-top: 5px;
          white-space: pre-line;

          &:before {
            content: " ";
            position: absolute;
            top: 9px;
            right: 100%;
            border: 6px solid transparent;
            border-right-color: $white-ter;
          }

          a {
            color: $grey-dark;

            &:hover {
              color: $grey-dark;
              background-color: transparent;

              &:before {
                margin-left: 10px;
                font-size: $default-tag-size;
              }
              &:after {
                margin-left: 2px;
                font-size: $default-tag-size;
              }
            }
          }

          &__hide-participant {
            margin-left: 49px;
            margin-top: 0;
            margin-bottom: 5px;
          }
        }

        &__self {
          text-align: right;

          .message-text {
            background-color: $primary;
            color: $white-ter;

            &:before {
              right: inherit;
              left: 100%;
              border-right-color: transparent;
              border-left-color: $primary;
            }

            a {
              color: $white-ter;

              &:hover {
                color: $white-ter;
                background-color: transparent;

                &:before, &:after {
                  margin-right: 10px;
                  font-size: $default-tag-size;
                }
              }
            }
          }
        }
      }
    }

    .chat-textinput {
      height: 20%;
      border-top: 1px solid $grey-lighter;

      textarea {
        padding: 10px;
        height: 100%;
        width: 100%;
        border: none;
        border-radius: 5px;
        outline: none;
        resize: none;
        font-size: $default-message-size;
      }
    }
  }
}
</style>
