<template>
    <div class="container has-text-centered">
        <div>
            <h1 class="title">Please log in to start to plan your adventure!</h1>
        </div>
        <br/>
        <div class="button is-primary login is-medium" @click="showAuthModal = true">
            <span>Login</span>
        </div>
        <auth-modal
            @disable-modal="showAuthModal = false"
            v-if="showAuthModal"
            @close="showAuthModal = false"
        />
    </div>
</template>

<script>
import AuthModal from './AuthModal'

export default {
  name: 'AuthInfo',
  components: { AuthModal },
  data () {
    return {
      showAuthModal: false
    }
  },
  mounted () {
    this.$store.watch(
      (store) => { return store.currentUser },
      res => {
        this.showAuthModal = false
      }
    )
  }
}
</script>

<style lang="scss" scoped>

</style>
