<template>
  <div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content animated fadeIn">
      <div class="box">
        <header class="has-text-centered">
          <span class="fas fa-user-circle login-icon-big"></span>
          <h1 class="modal-card-title">
            <span v-if="showLogin">Who's there?</span>
            <span v-if="showRegister">Please input your data to register</span>
          </h1>
          <br/>
        </header>
        <section class="modal-card-body has-text-centered modal-login-body" @keydown.enter="submitAuth">
          <div class="field auth-username">
            <p class="control has-icons-left has-icons-right">
              <input class="input" id="auth-username" type="username" placeholder="Username" v-model="username" autocomplete="new-password">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </p>
          </div>
          <div class="field auth-password">
            <p class="control has-icons-left">
              <input class="input" id="auth-password" type="password" placeholder="Password" v-model="password" autocomplete="new-password">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="field auth-password-confirm" v-if="showRegister">
            <p class="control has-icons-left">
              <input class="input" id="auth-password-confirm" type="password" placeholder="Confirm Password" v-model="passwordConfirm" autocomplete="new-password">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <ul class="has-text-left error-messages">
            <li class="help is-danger" v-for="(error, index) in errors" :key="index">{{ error }}</li>
          </ul>
          <ul class="has-text-left success-messages">
            <li class="help is-success" v-for="(success, index) in successes" :key="index">{{ success }}</li>
          </ul>
        </section>
        <footer class="has-text-centered">
          <div v-if="showLogin">
            <button class="button is-primary" @click.self="login">Login</button>
            <button class="button is-text register"
              @click="showRegister = true; showLogin = false; password = ''; passwordConfirm = ''; resetMessages()"
            >
              Register
            </button>
          </div>
          <div v-if="showRegister">
            <button class="button is-primary" @click.self="register">Register</button>
            <button class="button is-text"
              @click="showRegister = false; showLogin = true; password = ''; passwordConfirm = ''; resetMessages()"
            >
              Login
            </button>
          </div>
        </footer>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close" @click="$emit('close')"></button>
  </div>
</template>

<script>
import actionTypes from '../../store/action-types'

export default {
  name: 'AuthModal',
  data () {
    return {
      loading: false,
      showLogin: true,
      showRegister: false,
      username: '',
      password: '',
      passwordConfirm: ''
    }
  },
  computed: {
    successes () {
      return this.$store.state.authSuccessMessages
    },
    errors () {
      return this.$store.state.authErrorMessages
    }
  },
  mounted () {
    let store = this.$store

    this.$store.watch(
      (store) => { return store.authError },
      res => {
        let error = store.state.authError
        if (error) {
          document.getElementById('auth-password').focus()
          this.password = ''
          this.passwordConfirm = ''
        }
      }
    )
    this.$store.watch(
      (store) => { return store.authSuccess },
      res => {
        let success = store.state.authSuccess
        if (success) {
          if (this.showRegister) {
            document.getElementById('auth-password').focus()
            this.password = ''
            this.passwordConfirm = ''

            this.showLogin = true
            this.showRegister = false
            this.$store.commit('SET_AUTH_SUCCESS', 'Now please log in to start!')
          }
        }
      }
    )
  },
  methods: {
    submitAuth () {
      if (this.showLogin) this.login()
      else if (this.showRegister) this.register()
    },
    validate (type) {
      this.resetMessages()
      if (type === 'login') {
        if (this.username && this.password) return true
        else {
          if (!this.username) this.$store.commit('SET_AUTH_ERROR', 'Please input your username!')
          if (!this.password) this.$store.commit('SET_AUTH_ERROR', 'Please input your password!')
        }
      } else if (type === 'register') {
        if (this.username && this.password && this.passwordConfirm && this.password === this.passwordConfirm) {
          return true
        } else {
          if (!this.username) this.$store.commit('SET_AUTH_ERROR', 'Please input a username!')
          if (!this.password) this.$store.commit('SET_AUTH_ERROR', 'Please input a password!')
          if (this.password !== this.passwordConfirm) {
            this.$store.commit('SET_AUTH_ERROR', 'Please confirm your password, they do not match!')
          }
        }
      }
    },
    async register () {
      if (this.validate('register')) {
        this.loading = true
        try {
          await this.$store.dispatch(actionTypes.REGISTER, {
            username: this.username.toLowerCase(),
            password: this.password
          })
          this.successes.push('You successfully signed up! Please login now.')
          this.password = ''
          this.showLogin = true
          this.showRegister = false
          this.loading = false
        } catch (error) {
          console.log(error.graphQLErrors)
          this.errors.push(error.graphQLErrors[0].functionError)
          this.password = ''
          this.passwordConfirm = ''
          this.loading = false
        }
      } else {
        this.password = ''
        this.passwordConfirm = ''
      }
    },
    async login () {
      if (this.validate('login')) {
        this.loading = true
        try {
          await this.$store.dispatch(actionTypes.LOGIN, {
            username: this.username.toLowerCase(),
            password: this.password
          })
          this.loading = false
        } catch (error) {
          console.log(error.graphQLErrors)
          this.errors.push(error.graphQLErrors[0].functionError)
          this.password = ''
          this.loading = false
        }
      }
    },
    resetMessages () {
      this.$store.commit('RESET_AUTH_MESSAGES')
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../assets/scss/_color.scss';
@import '../../assets/scss/_font-size.scss';

.login-icon-big {
  color: $gray-green;
  font-size: $xxl-icon;
}

.modal-login-body {
  .field {
    height: 40px;
  }
  padding-left: 10%;
  padding-right: 10%;
}

</style>
